html, body {
  background-color: #f7f3e8;
  color: #3c3c3c;
}
ul{
  padding-left: 0;
}
ul li{
  list-style: none;
}
.row{
  margin: 2em 0;
}
html .btn, body .btn {
  background-color: #ff9933;
  color: #f7f3e8;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  border-bottom: solid 0.2em #af6623;
  top:0;
  position: relative;
}
html .btn:active, body .btn:active {
  position: relative;
  text-decoration: none;
  border-bottom: none;
  top: 0.2em;
}
.cat{
  margin: 0.5em;
  padding: 1em 0;
}
.cat img{
  width: 100%;
  height: 5em;
}
#cat-body .row{
  display: flex;
  justify-content: center;
}
.added{
  width: 90%;
  margin: 1em auto 0;
  overflow: auto;
  padding: 0.5em;
  justify-content:left;
}
.brand,.brand:hover{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3em;
<<<<<<< HEAD
  padding-top: 0.5em;
=======
>>>>>>> fix
  font-weight: bold;
  color: #af6623;
  text-decoration: none;
  border-bottom:1px solid #CCC;
}
#level{
  display: flex;
  justify-content: center;
  color: #cc7229;
  font-weight: bold;
}
.level{
  font-size: 3em;
}
.tweet,.tweet:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55acee;
  color: white;
  border-radius: 10px;
  padding: 0.4em 0em;
  height:3em;
  width: 8em;
  border-bottom: 0.25em solid #3c7aa0;
  text-decoration: none;
  font-weight: bold;
}
.tweet:active{
  border: none;
  margin-top: 0.25em;
}
.list{
  display: flex;
  justify-content: center;

}
.form-group{
  margin: 0.5em 0;
}
.form-group button{
  width: 30%;
  margin: 0 auto;
}
.new-item{
  border: 1px solid #DFDFDF;
  width: 100%;
  border-radius: 3px;
  padding: 0.25em 1.25em;
  margin: 0.25em 0;
}
.form-check-input {
  display: none;
}
.form-check-input + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}
.form-check-input + .checkbox-icon:before {
  content: "\f096";
  font-family: FontAwesome;
  color: #ccc;
  font-size: 1.25em;
  margin-right: 0.15em;
}
.form-check-input:checked + .checkbox-icon:before {
  content: "\f046";
  font-family: FontAwesome;
  color: #ff9933;
  margin-right: 0;
  font-size: 1.25em;
}

.form-check-label{
  display: block;
}

#exp{
display: flex;
justify-content: center;
}

#tweet {
  display: flex;
  align-items: center;
  margin-left:1em;
}


div#kusa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 70px;
  margin-left: 1em;
  width:280px;
  margin:auto;
}
.modal-header,.modal-footer{
  background-color: #f7f3e8;
}

div#kusa div {
  height: 8px;
  width: 8px;
  background: white;
  margin: 1px; }

div#kusa div.kusa-1 {
  background: #ff9933;
  opacity: 0.25; }

div#kusa div.kusa-2 {
  background: #ff9933;
  opacity: 0.5; }

div#kusa div.kusa-3 {
  background: #ff9933;
  opacity: 0.75; }

div#kusa div.kusa-4 {
  background: #ff9933;
  opacity: 1; }

div#kusa div.kusa-5 {
  background: #af6623;
  opacity: 1; }

.addtask{
  margin-top:3em;
}
