html, body {
  background-color: #f7f3e8;
  color: #3c3c3c;
}
.row{
  margin: 2em auto;
}
html .btn, body .btn {
    background-color: #ff9933;
    color: #f7f3e8;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    border-bottom: solid 0.2em #af6623;
    top:0;
}
html .btn:active, body .btn:active {
    text-decoration: none;
    border-bottom: none;
    margin-top: 0.2em;
}
